<%= content_for :page_title, 'Marketing Blogs | Read What The Experts Have To Say | Current360' %>
<%= content_for :description, "We’ve assembled a team of talented professionals who frequently provide their thoughts about current marketing-related topics and trends through our blog." %>

<div class='wrapper no-bg'>
  <main class='blog-feed'>
    <!-- <h1>Expert Marketing Blog</h1> -->
    <section id="roll">
      <% if @category.blank? %>
        <%= render 'original_roll' %>
      <% end %>

    </section>
  </main>
<% if user_signed_in? %>
  <aside class='recent-posts form'>
    <%= render 'form' %>
    <br><br><br>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </aside>
<% else %>
  <aside class='recent-posts'>
    <p>Need to Rewrite functions to display posts</p>
  </aside>
<% end %>

  <br class="clear">
</div>